# This line isn't needed if you have Lorelei installed
. "$(nix path-info --file ../.. direnv-nix-lorelei)/share/direnv-nix-lorelei/nix-lorelei.sh"

use_nix_gcrooted \
    -a \
    -W application/example-haskell-app.cabal \
    -w library/example-haskell-lib.cabal
