if ! command -v use_nix_gcrooted >/dev/null 2>&1
then
    log_status "using project-provided direnv-nix-lorelei"
    . "$(
        nix path-info --file ../.. direnv-nix-lorelei
    )/share/direnv-nix-lorelei/nix-lorelei.bash"
else
    log_status "using user-provided direnv-nix-lorelei"
fi

use_nix_gcrooted \
    -a \
    -W application/example-haskell-app.cabal \
    -w library/example-haskell-lib.cabal
