name: "CI"
on:
  push:
  pull_request:
jobs:
  linux:
    strategy:
      matrix:
        ghc:
          [ "8.6.5"
          , "8.8.4"
          , "8.10.4"
          , "8.10.5"
          ]
        unstable: [true, false]
    name: "linux: ${{ matrix.ghc }}: unstable=${{ matrix.unstable }}"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v13
      with:
        extra_nix_config: |
          trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
          substituters = https://hydra.iohk.io https://cache.nixos.org/
    - uses: cachix/cachix-action@v10
      with:
        name: shajra
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: cat ~/.config/nix/nix.conf
    - run: |
        nix --print-build-logs build \
            --arg checkMaterialization true \
            --argstr ghcVersion ${{ matrix.ghc }} \
            --arg hlsUnstable ${{ matrix.unstable }}
    - run: |
        nix --print-build-logs path-info \
            --arg checkMaterialization true \
            --argstr ghcVersion ${{ matrix.ghc }} \
            --arg hlsUnstable ${{ matrix.unstable }}
  darwin:
    strategy:
      matrix:
        ghc:
          [ "8.6.5"
          , "8.8.4"
          , "8.10.4"
          , "8.10.5"
          ]
        unstable: [true, false]
    name: "darwin: ${{ matrix.ghc }}: unstable=${{ matrix.unstable }}"
    needs: [linux]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v13
      with:
        extra_nix_config: |
          trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
          substituters = https://hydra.iohk.io https://cache.nixos.org/
    - uses: cachix/cachix-action@v10
      with:
        name: shajra
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: cat ~/.config/nix/nix.conf
    - run: |
        nix --print-build-logs build \
            --arg checkMaterialization true \
            --argstr ghcVersion ${{ matrix.ghc }} \
            --arg hlsUnstable ${{ matrix.unstable }}
    - run: |
        nix --print-build-logs path-info \
            --arg checkMaterialization true \
            --argstr ghcVersion ${{ matrix.ghc }} \
            --arg hlsUnstable ${{ matrix.unstable }}
